@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sora:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .7s ease;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Sora', sans-serif;
    background-color: #10346f;
}

::selection{
    background-color: #4b64f4;
    color: #fff;
}


@mixin buttons{
    background-color: #4b64f4;
    border-radius: 15px;
    padding: 0 10px;
    &:hover{
        background-color: #2c3d9f;
    }
}

.container{
    background-color: #fff !important;
    border-radius: 15px !important;
}

a{
    color: #fff !important;
}

.navbar{
    border-top: 2px solid #0b2651;
    border-bottom: 2px solid #0b2651;
    padding: 20px 0;
    .nav-item{
        @include buttons();
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}

#erds{
    a{
        @include buttons();
        color: #0b2651;
        text-decoration: none;
        padding: 7px 15px;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

#inx, #tran{
    padding-left: 50px;
}

.header-text{
    h1{
        font-size: 3.5em;
        text-shadow: #4b64f4 -5px -5px 10px;


    }


}
#animate{
    position: relative;
    animation: animate 2s infinite linear;

    @keyframes animate {
        0%, 100%{
            transform: translateY(-2em);
        }
        50%{
            transform: translateY(0em);
        }
    }
}

#text-animate, #text-animate2{
    position: relative;
    animation: animate-text 4s infinite linear;
}

@keyframes animate-text {
    0%,100%{
        transform: translateX(2em);
    }
    50%{
        transform: translateX(-2em);
    }
}